<li class="nav-item" style="width:100%">

    <a href="#" class="nav-link" style="width:100%;z-index:1"  onclick="$(this).tab('show'); OpenImmeuble(this);" data-binding="{Path=Nom,Destination=Content}">
        Label
    </a>
    <div style="margin-right:6px;font-size:10px;position:absolute; right:15px;margin-top:-26px">
        <a href="#" class="graylink">
            <span data-binding="{Path=NbAnomalies,Destination=Content}">0</span> anomalies
        </a>
        <a href="#" class="graylink">
            Mis à jour il y a <span data-binding="{Path=DateDerniereModification,Destination=Content}">1 jour</span>
        </a>
    </div>
</li>