
<div>  
    <div class="row">
        <div class="col-sm-2"> Nom :<input type="text" data-binding="{Path=Nom,Mode=TwoWay,Destination=value}" value=""/> </div>   
        <div class="col-sm-2"> Prénom : <input type="text" data-binding="{Path=Prenom,Mode=TwoWay,Destination=value}"/> </div>    
        <div class="col-sm-2"> Adresse : <input type="text" /></div>
        <div class="col-sm-2"> Adresse suite : <input type="text" /></div>
        <div class="col-sm-2"> Code postal : <input type="text" data-binding="{Path=Adresses[0].CodePostal,Mode=TwoWay,Destination=value}"/></div>
    </div>  
    <div class="row">
        <div class="col-sm-2"> Ville : <input type="text" data-binding="{Path=Adresses[0].Ville,Mode=TwoWay,Destination=value}"/></div>    
        <div class="col-sm-2"> Pays : <input type="text" data-binding="{Path=Adresses[0].Pays,Mode=TwoWay,Destination=value}" /></div>
    </div>  

</div>