
<div>
    <h1><span data-binding="{Path=Nom,Mode=TwoWay,Destination=Content,Mode=OneWay}"></span></h1>
    <div class="row">
        <div class="row">
            <label class="col-md-1 control-label vcenter" for="">Nom</label>

            <div class="col-md-2 vcenter">
                <input type="text" data-binding="{Path=Nom,Mode=TwoWay,Destination=value}" class="form-control input-md vcenter" />
            </div>

            <label class="col-md-1 control-label vcenter" for="">Prénom</label>

            <div class="col-md-2 vcenter">
                <input type="text" data-binding="{Path=Nom,Mode=TwoWay,Destination=value}" class="form-control input-md vcenter" />
            </div>

        </div>
        <!--<div class="row">
            <span class="col-md-2 vcenter">Adresse principale</span>
            <div class="col-md-5 vcenter">

                <span class="vcenter" data-binding="{Path=Adresses[0].Rue,Mode=TwoWay,Destination=Content}"> </span>
                <span class="vcenter" data-binding="{Path=Adresses[0].CodePostal,Mode=TwoWay,Destination=Content}"> </span>
                <span class="vcenter" data-binding="{Path=Adresses[0].Ville,Mode=TwoWay,Destination=Content}"> </span>
                <button class="btn btn-link vcenter">Détails</button>
            </div>
        </div>-->
        <br />
        
    </div>
</div>
