<div> 
    <h1>Création d&#39;un immeuble</h1>
    <span> Nom de l&#39;immeuble</span> <input data-binding="{Path=Nom,Destination=value,Mode=TwoWay}" type="text" /><br />
    <span>Rue</span> <input data-binding="{Path=Rue,Destination=value,Mode=TwoWay}" type="text" /><br />
    <span>Code postal</span> <input data-binding="{Path=CodePostal,Destination=value,Mode=TwoWay}" type="text" /><br />
    <span>Ville</span> <input data-binding="{Path=Ville,Destination=value,Mode=TwoWay}" type="text" /><br />
</div>