
<div>  
    <div class="row">
        <div class="col-sm-1"> Désignation : </div>
        <div class="col-sm-1"> <input type="text" /> </div>
    
        <div class="col-sm-1"> Adresse : </div>
        <div class="col-sm-1"> <input type="text" /> </div>
    
        <div class="col-sm-1"> Adresse suite : </div>
        <div class="col-sm-1"> <input type="text" /> </div>

        <div class="col-sm-1"> Code postal : </div>
        <div class="col-sm-1"> <input type="text" /> </div>

    </div>  
    <div class="row">
        <div class="col-sm-1"> Ville : </div>
        <div class="col-sm-1"> <input type="text" /> </div>
    
        <div class="col-sm-1"> Pays : </div>
        <div class="col-sm-1"> <input type="text" /> </div>

    </div>  

    <div class="row">
        <div class="col-sm-1"> Administrateur : </div>
        <div class="col-sm-1"> <input type="button" /> </div>

        <div class="col-sm-1"> Nombre de lots : </div>
        <div class="col-sm-1"> <input type="text" /> </div>
    
        <div class="col-sm-1"> Total tantièmes : </div>
        <div class="col-sm-1"> <input type="text" /> </div>
    
        <div class="col-sm-1"> Ajouter des lots : </div>
        <div class="col-sm-1"> liste des lots </div>
    

    </div>
</div>